body{
    background-color: blueviolet;
}
h1{
    text-align: center;
    display: grid;
}   
div {
    display: contents;
}
.container {
    display: inline;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: auto;
}
.item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: footer;
}